[Desktop Entry]
Name=LeapTime Manager
Comment=Aiming to be an all-in-one, friendly to new-users, GUI based backup manager for Debian/Ubuntu based systems.
Exec=leaptime-manager -g
Icon=leaptime-manager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;Settings;
StartupNotify=true
